* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-color:hsl(0, 0%, 94%);
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin:0;
    padding:40px;
    border-radius: 30px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-right-radius: 30%;
}

.form-style {
    display: flex;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction:column;
    margin-right:20px;
}
input[type="text"] {
    width: 110px;
    height: 50px;
    box-shadow: 0 0 0 0 hsl(0, 0%, 86%);
    border-color:hsl(0, 0%, 86%);
    border-width:1px;
    border-radius: 7px;
    font-size:20px;
    padding-left: 10px;
}
input[type="text"]:focus {
    outline: none;
    border-width:1px;
    border-color:hsl(259, 100%, 65%);
}

.label {
    margin-bottom:3px;
    font-size: 14px;
    letter-spacing: 2px;
    color:hsl(0, 1%, 44%);
}
.btn {
    background-color:hsl(259, 100%, 65%);
    border-color: hsl(259, 100%, 65%);
    border-radius: 100%;
    width: 75px;
    height:auto;
    position: relative;
    top:90px;
    cursor: pointer;
}
.btn:hover {
    background-color:black;
    border-color: black;
}

.results-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    flex-direction: column;
    border-top:1px solid hsl(0, 0%, 86%);
    margin-top:50px;
    padding-top:50px;
}

.result-years,
.result-months,
.result-days {
    font-size: 60px;
    font-weight:800;
}
.results-area span{
    color:hsl(259, 100%, 65%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
     color: hsl(228, 45%, 44%);
}
/*
- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)
- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)
*/